.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    width: 50px;
    height: 50px;
    background-color: #ebe2eb;
    outline: none;
}
.textarea {
    width:190px;
}

.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow, textarea {
    display: flex;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}